*{
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

@font-face {
    font-family: 'Kingthings';
    src: url('../media/fonts/Kingthings_Petrock.ttf');
}

.fontTitle{
	font-family: "Metal Mania";
	font-size: 45px;
}

.fontSubtitle{
	font-family: "New Rocker";
	font-size: 30px;
}

.fontParagraph{
	font-family: "Kingthings";
	font-size: 16px;
}

.fontAlter{
	font-family: "Acme";
	font-size: 16px;
}

.fontCart{
	font-family: "Niconne";
	font-size: 16px;
}

/*.linkNav{
	padding: 10px;
	text-decoration: none;
	color: #8D0800;
	font-weight: bolder;
	text-align: center;
	width: 160px;
}

.linkNav:hover{
	background-color: #490400;
	color: white;
}

.icon{
	margin-right: 10px;
}*/


