*{
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

/*Fuentes*/
@font-face{font-family: 'Kingthings'; src: url('../media/fonts/Kingthings_Petrock.ttf');}
.fontTitle{font-family: "Metal Mania"; font-size: 45px;}
.fontSubtitle{font-family: "New Rocker"; font-size: 30px;}
.fontParagraph{font-family: "Kingthings"; font-size: 16px;}
.fontAlter{font-family: "Acme"; font-size: 16px;}
.fontCart{font-family: "Niconne"; font-size: 16px;}

.contenedor{
	width: 100%;
	margin: auto;
}

.flexRowWrapBetweenCenterCenter{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	
	justify-content: space-between;
	align-items: center;
	align-content: center;
}

.flexRowWrapCenterCenterCenter{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	
	justify-content: center;
	align-items: center;
	align-content: center;
}

.flexColumnNowrapBetweenCenterBetween{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	
	justify-content: space-between;
	align-items: center;
	align-content: space-between;
}

.flexGrowShrink{
	flex-grow: 1;
	flex-shrink: 1;
}

.portada{
	width: 100%;
	height: 320px;
	padding: 0px 10px 10px 10px;
	background-image: url('../media/imgs/concierto3.jpg');
	background-size: contain;
}

/*.linkNav{
	padding: 10px;
	text-decoration: none;
	color: #8D0800;
	font-weight: bolder;
	text-align: center;
	width: 160px;
}

.linkNav:hover{
	background-color: #490400;
	color: white;
}

.icon{
	margin-right: 10px;
}*/


